:root {
--title-text-color: #212121;
--text-color: #757575;
--brend-color: #2196F3;
--primary-white-color:#ffffff;

}
body {
font-family:"Roboto", sans-serif;
font-style: normal;
font-size: 14px;
text-decoration: none;
}


/*верхняя линия*/
.logo-blue {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--brend-color);
    text-decoration: none;
    }
.logo-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;;
    color:var(--primary-white-color);
    text-decoration: none;
    
}
.link { 
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    text-decoration: none; 
    
}
.link.active{ 
    color: var(--brend-color);
}

.group-mailto {   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.group-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.group-mailto:hover,
.group-mailto:focus,
.group-tel:hover,
.group-tel:focus {
    color: var(--brend-color);
}
.header {
    margin-left: auto;
    margin-right: auto;
    
}
.contanier {
    margin-left: auto;
    margin-right: auto;
    width: 903px;
    outline: 2px solid tomato;

}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* шапка сайта*/

.hero {
    background-color: #2F303A;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-top: 0px;
    margin-bottom: 30px;
}
.hero-navigtion {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;   
    color: var(--primary-white-color);
    background-color: var(--brend-color);
    border-style: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
.hero-navigtion:focus,
.hero-navigtion:active 
.hero-navigtion:hover{
    background-color: var(--brend-color);
}
.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.attention-to-detail, 
.punctuality,
.planning,
.modern-technologies{
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 10px;

}

.link-discription {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);   
    margin-bottom: 0px;
}
.peculiarities,
.what-are-we-doing-pading {
    padding-bottom: 94px;
}

/*чем мы занимаемся*/
.what-are-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
    
}
.going {
    background: url;
    mix-blend-mode: normal;

}

/*наша команда*/
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
.member-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: var(--title-text-color)1;
    margin-top: 0px;
    margin-bottom: 10px;
}
.member-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color:var(--text-color);
}
.team {
    background-color: #F5F4FA;
}
.member-item {
    background-color: #ffffff;
}
.member-list {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*подвал*/
.footer {
    background-color: #2F303A;
}
.link-address {
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--primary-white-color);
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}
.group-mailto-footer,
.group-tel-footer {
    font-style:normal
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 10px;
}
.group-mailto-footer:hover,
.group-mailto-footer:focus,
.group-tel-footer:hover,
.group-tel-footer:focus {
    color: var(--brend-color);
}

/*портфолио*/
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--title-text-color);
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 103px;
    height: 38px;
}
.filter-btn-active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    background-color: var(--brend-color);
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 73px;
    height: 38px;
}
.filter-btn:active,
.filter-btn:focus {
    background-color: var(--brend-color);
    color: var(--primary-white-color);
    
}
.filter-title {
    margin-top: 0;
    margin-bottom: 0;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 4px;
}
.portfolio-position {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.portfolio {
    margin-top: 0;
    margin-bottom: 0;
}
.link:focus,
.link:hover {
    color: var(--brend-color);
}
.list,
.member-item,
.portfolio-list,
.item {
    list-style-type: none;
   
}